#btn_Send {
    -fx-background-image: url("../image/index.png");
    -fx-background-size: 90%, 90%;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-max-height: 30;
    -fx-pref-width: 30;
}


#text_Input {
    -fx-border-width: 0;
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
    -fx-fill-width: true;
    -fx-min-height: 40;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#text_Input:focused {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.HBox {
    -fx-fill-width: true;
    -fx-fill-height: true;
}

#box_top {
    -fx-background-color: rgba(255, 255, 255, .4);
}

#box_bot {
    -fx-background-color: rgba(255, 255, 255, .4);
    -fx-pref-height: 50;
    -fx-alignment: center;
}
